{
  "extends": ["react-app", "plugin:@next/next/recommended"],
  "rules": {
    "@next/next/no-html-link-for-pages": ["error", "src/pages"],
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  }
}
